.sidebar {
    position: fixed;
    top: 0;
    /*left: 0;*/
    height: 100vh;
    width: 240px;
    background-color: #f9f9f9;
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.title {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    transition: background 0.2s;
}

.link:hover {
    background-color: #e0e0e0;
}

.button {
    background: none;
    border: none;
    color: #333;
    font-size: 16px;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #e0e0e0;
}
