.container {
    padding: 20px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.poster {
    width: 140px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.7) 0 15px 25px -10px, rgba(0, 0, 0, 0.5) 0 9px 8px -10px;
}

.info {
    flex: 1;
}

.sessions {
    margin-top: 12px;
    padding-left: 20px;
}

.backButton {
    margin-top: 20px;
    padding: 8px 12px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.backButton:hover {
    background-color: #333;
}


.dateHeading {
    margin-bottom: 4px;
    /*background-color: aqua;*/
}
