.container {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

table td,
table th {
    background-color: #1a1b23;
    border-top: none;
    border-bottom: 1px solid #2a2b35;
    border-left: none;
    border-right: none;
}


th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #f5f5f5;
}

.poster {
    width: 60px;
    height: auto;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.7) 0 15px 25px -10px, rgba(0, 0, 0, 0.5) 0 9px 8px -10px;
}

.sessionButton {
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(229, 9, 20);
    box-shadow: rgba(0, 0, 0, 0.7) 0 15px 25px -10px, rgba(0, 0, 0, 0.5) 0 9px 8px -10px;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background 0.2s;
}

.sessionButton:hover {
    background-color: rgb(193, 17, 25);
}
