h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 14px 0px 8px -3px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 20px;
}

.title {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 0 8px;
    font-weight: bold;
    color: #1E1E1E;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link {
    text-decoration: none;
    margin: 0 12px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    transition: background 0.2s;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button {
    background: none;
    margin: 0 12px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}







